ImageSplits/
plots/
Stanford40/
Stanford40/
test_train_splits/
video_data/
photo_dataset/
optical_flow_images/
video_image_dataset/
video_OF_dataset/
__pycache__/
settings.py
*.pth
video_OF_py_dataset/
data/
video_OF_dataset/
video_OF_py_dataset_112/
video_OF_py_dataset_224/
